{% if information_tables is iterable %}
<div class="summary-information-wrapper">
{% for key,val in information_tables %}
<div class="row">
	{% for val1 in val %}
		<div class="cl6 fl">
		<table id="{{ val1.id }}" class="directory_tbl summary-information-table">
		<thead><tr class="tbl-head">
		<th{% if not val1.headlink %} colspan="2"{% endif %}>{{ val1.head }}</th>{% if val1.headlink %}<th class="SummaryInformation"> <a href="{{ val1.headlink.href }}">{{ val1.headlink.text }}</a></th>{% endif %}</tr>
		</thead>
		<tr><td class="column-summary">{{ val1.subhead }}:</td><td class="column-elements white"></td></tr>
		{% if val1.elements_list is iterable %}
		{% for key2,val2 in val1.elements_list  %}
		<tr><td class="column-names">{{ val2.text|lower }}</td><td class="column-elements center"><a href="{{ val2.link.href }}">{{ val2.link.text}}</a></td></tr>
		{% endfor %}
		{% endif %}
		</table>
	</div>
	{% endfor %}
</div>
{% endfor %}
</div>
{% endif %}