{% extends "@layouts/main.twig" %}
	{% use "@layouts/content.twig" %}
	{% block html_title %}
		{{ title }}
	{% endblock %}
	{% block content_container %}
	 {{ parent() }}
	 {% endblock %}
	{% block content %}									
			<div id="main-page" class="clearfix">
				<div class="cl4 fl">
					<div class="main-block">
						<div class="content-wrapper">
							<div class="content-header">
								<h2>{{ news_section }}</h2>
							</div>
							<div class="content clearfix">	
							{% if show_news %}
							
								<div class="news">
							{% if news_list is iterable %}
							{% for news in news_list %}
									<div class="blocknews">
								{% if news.Name %}
									<div class="blocknews-head">
										<p class="date"></p>
										<h3><a class="newsheader" href="/news/{{ news.Id }}">{{ news.Name }}</a></h3>							
									</div>
								{% endif %}
									{% if news.Anons %}
									<div class="blocknews-anons">
										{{ news.Anons|raw }}
									</div>
									{% endif %}
									<div class="block-news-content">
										{{ news.Text|raw }}
									</div>
									</div>
									{% endfor %}
							{% endif %}
								</div>	
								{% endif %}
							</div>							
							
						</div>
					</div>
				</div>
				<div class="cl4 fl">
					<div class="main-block">
						<div class="content-wrapper">
							<div class="content-header">
								<h2>{{ counters_section }}</h2>
							</div>
							<div class="content clearfix">
								{% if main_page_modules is defined and main_page_modules is iterable %}
									{% if main_page_modules.column2 and main_page_modules.column2 is iterable%}
									{% for val in main_page_modules.column2 %}
									{{ val|raw }}
									{% endfor %}
									{% endif %}
								{% endif %}
							</div>							
							
						</div>
					</div>
				</div>
				<div class="cl4 fl">
					<div class="main-block last-block">
						<div class="content-wrapper">
							<div class="content-header">
								<h2>{{ indicators_section }}</h2>
							</div>
							<div class="content clearfix">
								<div class="indicators-wrapper">
									<div class="indicators-block">
										<div class="indicator clearfix">
											<div class="cl9 fl">
												<div class="indicator-name">
												<span>Производство кранов-трубоукладчиков</span>
												</div>
											</div>
											<div class="cl3 fl">
												<div class="indicator-value">
												<span class="date">Январь-май 2018/2017</span>
												<span class="percent">+116,7% <img src="img/arrowup.gif" alt="up" width="10" height="10"></span>
												</div>								
											</div>
										</div>
										<div class="indicator clearfix">
											<div class="cl9 fl">
												<div class="indicator-name">
												<span>Производство экскаваторов-погрузчиков</span>
												</div>
											</div>
											<div class="cl3 fl">
												<div class="indicator-value">
												<span class="date">Январь-май 2018/2017</span>
												<span class="percent">+55,1% <img src="img/arrowup.gif" alt="up" width="10" height="10"></span>
												</div>								
											</div>
										</div>
										<div class="indicator clearfix">
											<div class="cl9 fl">
												<div class="indicator-name">
												<span>Производство бульдозеров</span>
												</div>
											</div>
											<div class="cl3 fl">
												<div class="indicator-value">
												<span class="date">Январь-май 2018/2017</span>
												<span class="percent">+1,8% <img src="img/arrowup.gif" alt="up" width="10" height="10"></span>
												</div>								
											</div>
										</div>										
										<div class="indicator clearfix">
											<div class="cl9 fl">
												<div class="indicator-name">
												<span>Производство автогрейдеров</span>
												</div>
											</div>
											<div class="cl3 fl">
												<div class="indicator-value">
												<span class="date">Январь-май 2018/2017</span>
												<span class="percent">+0,5% <img src="img/arrowup.gif" alt="up" width="10" height="10"></span>
												</div>								
											</div>
										</div>
										
										
										<div class="indicator clearfix">
											<div class="cl9 fl">
												<div class="indicator-name">
												<span>Производство тракторов</span>
												</div>
											</div>
											<div class="cl3 fl">
												<div class="indicator-value">
												<span class="date">Январь-май 2018/2017</span>
												<span class="percent">-7,5% <img src="img/arrowdown.gif" alt="up" width="10" height="10"></span>
												</div>								
											</div>
										</div>
										<div class="indicator clearfix">
											<div class="cl9 fl">
												<div class="indicator-name">
												<span>Производство комбайнов зерноуборочных</span>
												</div>
											</div>
											<div class="cl3 fl">
												<div class="indicator-value">
												<span class="date">Январь-май 2018/2017</span>
												<span class="percent">-34,6% <img src="img/arrowdown.gif" alt="up" width="10" height="10"></span>
												</div>								
											</div>
										</div>
										<div class="indicator clearfix">
											<div class="cl9 fl">
												<div class="indicator-name">
													<span>Производство комбайнов кормоуборочных</span>
												</div>
											</div>
											<div class="cl3 fl">
												<div class="indicator-value">
												<span class="date">Январь-май 2018/2017</span>
												<span class="percent">+6,6% <img src="img/arrowup.gif" alt="up" width="10" height="10"></span>
												</div>								
											</div>
										</div>
										<div class="indicator clearfix">
											<div class="cl9 fl">
												<div class="indicator-name">
												<span>Производство машин для внесения минеральных удобрений</span>
												</div>
											</div>
											<div class="cl3 fl">
												<div class="indicator-value">
												<span class="date">Январь-май 2018/2017</span>
												<span class="percent">+67,4% <img src="img/arrowup.gif" alt="up" width="10" height="10"></span>
												</div>								
											</div>
										</div>	
										<div class="indicator clearfix">
											<div class="cl9 fl">
												<div class="indicator-name">
													<span>Производство граблей</span>
												</div>
											</div>
											<div class="cl3 fl">
												<div class="indicator-value">
												<span class="date">Январь-май 2018/2017</span>
												<span class="percent">+25,6% <img src="img/arrowup.gif" alt="up" width="10" height="10"></span>
												</div>								
											</div>
										</div>
										<div class="indicator clearfix">
											<div class="cl9 fl">
												<div class="indicator-name">
													<span>Производство косилок</span>
												</div>
											</div>
											<div class="cl3 fl">
												<div class="indicator-value">
												<span class="date">Январь-май 2018/2017</span>
												<span class="percent">+10,1% <img src="img/arrowup.gif" alt="up" width="10" height="10"></span>
												</div>								
											</div>
										</div>
										<div class="indicator clearfix">
											<div class="cl9 fl">
												<div class="indicator-name">
													<span>Производство жаток</span>
												</div>
											</div>
											<div class="cl3 fl">
												<div class="indicator-value">
												<span class="date">Январь-май 2018/2017</span>
												<span class="percent">+17,5% <img src="img/arrowup.gif" alt="up" width="10" height="10"></span>
												</div>								
											</div>
										</div>
																										<div class="indicator clearfix">
											<div class="cl9 fl">
												<div class="indicator-name">
													<span>Производство смесителей-кормораздатчиков</span>
												</div>
											</div>
											<div class="cl3 fl">
												<div class="indicator-value">
												<span class="date">Январь-май 2018/2017</span>
												<span class="percent">+15,2% <img src="img/arrowup.gif" alt="up" width="10" height="10"></span>
												</div>								
											</div>
										</div>
										<div class="indicator clearfix">
											<div class="cl9 fl">
												<div class="indicator-name">
													<span>Производство установок доильных</span>
												</div>
											</div>
											<div class="cl3 fl">
												<div class="indicator-value">
												<span class="date">Январь-май 2018/2017</span>
												<span class="percent">+33,3% <img src="img/arrowup.gif" alt="up" width="10" height="10"></span>
												</div>								
											</div>
										</div>
									</div>
								</div>
							</div>							
							
						</div>
					</div>
				</div>
			</div>				
		<div class="modals-container">
		{% block modals %}
		
		{% endblock %}
		</div>
	{% endblock %}
